# Database
DB_DRIVER=your_db_driver
DB_URL=your_db_url
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password

# Java Config
SPRING_PROFILES_ACTIVE=default
SERVER_PORT=8080

# JVM
JAVA_OPTS=-XX:InitialRAMPercentage=10 -XX:MaxRAMPercentage=45 -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/opt/todolist/heapdump.hprof
